<!-- 之后一些需要手动显示的顶级弹窗都应该在这一层显示 -->
<app-search></app-search>
<div class="app-layout" [@bulrOpenClose]="isShowSearch ? 'open' : 'close'">
  <app-blhx-wives></app-blhx-wives>
  <mat-drawer-container>
    <mat-drawer #drawer>
      <app-drawer-content
        [name]="name"
        [toolbarInfo]="toolbarInfo"
        [drawer]="drawer"
      ></app-drawer-content>
    </mat-drawer>
    <app-toolbar [isXs]="isXs" [drawer]="drawer"></app-toolbar>
    <div
      #content
      class="app-layout__content"
      fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center start"
      [ngStyle.xs]="{ height: 'calc(100vh - 54px)' }"
      [ngStyle]="{ height: 'calc(100vh - 64px)' }"
    >
      <div fxHide.xs class="app-layout__content__left" fxFlex="17">
        <app-user-card [fxHide]="!hasUserCard"></app-user-card>
        <app-directory *ngIf="hasDirectory"></app-directory>
      </div>
      <div fxFlex class="app-layout__content__center">
        <router-outlet></router-outlet>
      </div>
      <div
        fxHide.xs
        class="app-layout__content__right"
        fxFlex="17"
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <app-recent-card [fxHide]="!hasRecentCard"></app-recent-card>
        <app-tag-card [fxHide]="!hasTagCard"></app-tag-card>
      </div>
    </div>
  </mat-drawer-container>
</div>
