@use "@angular/material" as mat;
@use "../../shared/style/markdown" as md;
@use "../style/app-theme" as app;

$app-dark-primary: mat.define-palette(mat.$blue-palette, 900);
// $mat-blue-grey
$app-dark-accent: mat.define-palette(mat.$deep-orange-palette, 900);
$app-dark-warn: mat.define-palette(mat.$red-palette, A700);
$app-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-dark-accent,
      warn: $app-dark-warn,
    ),
  )
);
// mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn)
$dark-primary: map-get(
  $map: $app-dark-primary,
  $key: default,
);
$dark-accent: map-get(
  $map: $app-dark-accent,
  $key: default,
);
$dark-warn: map-get(
  $map: $app-dark-warn,
  $key: default,
);
.dark-theme {
  @include mat.all-component-themes($app-dark-theme);
  @include md.markdown(true, $dark-primary, $dark-accent, $dark-warn);
  @include app.app-theme(true, $dark-primary, $dark-accent, $dark-warn);

  ::selection {
    background-color: $dark-accent;
    color: #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    bottom: -20px;
    right: -20px;
    filter: blur(4px);
    background: url(~@assets/images/dark-theme-background.webp) no-repeat center/cover, #5d5d5d;
  }
}
