.classification-module {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    display: flex;
    align-items: baseline;
    flex-flow: wrap;
    > span {
      cursor: pointer;
      margin: 10px 15px;
      // font-size: 18px;
    }
  }
}
