<div class="classification-module" fxFill>
  <mat-card [ngStyle.xs]="{ 'background-size': '50%' }">
    <mat-card-title class="no-select classification-module__title">
      <mat-icon>class</mat-icon>
      <span>分类</span>
    </mat-card-title>
    <mat-card-content class="classification-module__content">
      <span
        class="no-select"
        [ngStyle]="setStyle(item)"
        *ngFor="let item of classArr; let i = index; trackBy: trackById"
        [routerLink]="['./', item.classificationId]"
      >
        {{ item.content }}
      </span>
    </mat-card-content>
  </mat-card>
</div>
