.article-module {
  position: relative;
  padding: 20px;
  &__directory {
    position: sticky;
    // top: clca(64px + 20px);
    // width: 100%;
    top: 20px;
  }
}

.aa{
  width: 80vw;
  height: 100vh;
  background-color: red;
}
.bb{
  width: 80vw;
  height: 100vh;
  background-color: blue;
}