@import "~@angular/material/theming";
@import "./styles.scss";
@import "./markdown.scss";

@include mat-core();
$app-light-primary: mat-palette($mat-blue, 700);
$app-light-accent: mat-palette($mat-green, 600);
$app-light-warn: mat-palette($mat-red);
$app-light-theme: mat-light-theme($app-light-primary, $app-light-accent, $app-light-warn);
@include angular-material-theme($app-light-theme);
$app-dark-primary: mat-palette($mat-blue-grey, 900);
$app-dark-accent: mat-palette($mat-deep-orange, 900);
$app-dark-warn: mat-palette($mat-red, A700);
$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-warn, $app-dark-warn);

// 字体
$custom-typography: mat-typography-config(
  $font-family: "NotoSerifSC-Light, Roboto, monospace",
); // Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// 颜色值
$light-primary: map-get(
  $map: $app-light-primary,
  $key: default,
);
$light-accent: map-get(
  $map: $app-light-accent,
  $key: default,
);
$light-warn: map-get(
  $map: $app-light-warn,
  $key: default,
);
$dark-primary: map-get(
  $map: $app-dark-primary,
  $key: default,
);
$dark-accent: map-get(
  $map: $app-dark-accent,
  $key: default,
);
$dark-warn: map-get(
  $map: $app-dark-warn,
  $key: default,
);

@mixin app-theme($is-dark, $primary, $accent, $warn) {
  $snack-bar-background-color: #ffffff;
  $snack-bar-color: #333333;
  @if $is-dark {
    $snack-bar-background-color: #323232;
    $snack-bar-color: #eeeeee;
  }

  .app-snack-bar {
    background-color: $snack-bar-background-color;
    color: $snack-bar-color;
    .mat-simple-snackbar-action {
      color: $accent;
    }
  }
  .app-theme {
    &__color-primary {
      color: $primary;
    }
    &__color-accent {
      color: $accent;
    }
    &__color-warn {
      color: $warn;
    }
    &__bgc-primary {
      background-color: $primary;
    }
    &__bgc-accent {
      background-color: $accent !important;
    }
    &__bgc-warn {
      background-color: $warn;
    }
    &--text {
      color: $accent;
    }
  }
}
.dark-theme {
  @include angular-material-color($app-dark-theme);

  @include markdown(true, $dark-primary, $dark-accent, $dark-warn);
  @include app-theme(true, $dark-primary, $dark-accent, $dark-warn);

  ::selection {
    // background-color: map-get($mat-deep-orange, 700);
    background-color: $dark-accent;
    color: #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    bottom: -20px;
    right: -20px;
    filter: blur(4px);
    background: url(~@assets/images/dark-theme-background.jpg) no-repeat center/cover;
  }
}
.light-theme {
  @include markdown(false, $light-primary, $light-accent, $light-warn);
  @include app-theme(false, $light-primary, $light-accent, $light-warn);
  ::selection {
    // background-color: map-get($mat-green, 500);
    background-color: $light-accent;
    color: #ffffff;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    bottom: -20px;
    right: -20px;
    filter: blur(4px);
    background: no-repeat url(~@assets/images/light-theme-background.jpg) center/cover;
  }
}
