<div id="app__anchor"></div>
<app-floating-action-button></app-floating-action-button>
<!-- <div
  class="article-module"
  fxLayout="row"
  fxLayoutGap="20px"
  fxLayoutAlign="center start"
>
  <app-floating-action-button></app-floating-action-button>
  <div fxFlex="18" class="article-module__directory">
    <app-directory></app-directory>
  </div>
  <div
    fxFlex="80"
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="center start"
  >
    <app-markdown
      fxFill
      [articleId]="articleId"
      [loading]="loading"
      [articleTitle]="articleInfo?.title"
      [date]="articleInfo?.updatedAt"
      [tagArr]="articleInfo?.tag"
      [classification]="articleInfo?.classification"
      [src]="articleLink"
    ></app-markdown>
    <app-comment fxFill></app-comment>
  </div>
  <div fxFlex="18"></div>
</div> -->

<!-- https://autocode.icu/assets/markdown/test_markdown.md -->

<div
  class="article-module"
  fxLayout="column"
  fxLayoutGap="20px"
  fxLayoutAlign="center start"
>
  <app-markdown
    fxFill
    [articleId]="articleId"
    [loading]="loading"
    [articleTitle]="articleInfo?.title"
    [date]="articleInfo?.updatedAt"
    [tagArr]="articleInfo?.tag"
    [classification]="articleInfo?.classification"
    [src]="articleLink"
    (load)="onLoad()"
  ></app-markdown>
  <app-comment
    fxFill
    [articleId]="articleId"
    [commentDataArr]="commentDataArr"
    [loading]="commentLoading"
  ></app-comment>
</div>
