@import "~@app/theme/theme.scss";
.app-blhx-wives {
  position: fixed;
  bottom: 20px;
  z-index: 999;
  display: flex;
  align-items: flex-start;
  &__lines {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    max-height: 150px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s;
    text-overflow: ellipsis;
    @include mat-elevation(3);
    &:hover {
      @include mat-elevation(7);
    }
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: -20px;
      border: 10px solid transparent;
      border-right-color: #fff;
    }
  }
}

:host-context(.dark-theme) {
  .app-blhx-wives {
    &__lines {
      color: #fff;
      background-color: #424242;
      &:after {
        content: "";
        position: absolute;
        top: 12px;
        left: -20px;
        border: 10px solid transparent;
        border-right-color: #424242;
      }
    }
  }
}
