<mat-card class="no-select recent-card">
  <mat-card-title fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <mat-icon>access_time</mat-icon>
    <span>最近的文章</span>
  </mat-card-title>
  <mat-card-content>
    <div
      class="recent-card__block"
      [@recentCardAnimation]="listTotal"
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <app-skeleton *ngIf="loading" height="50px" [count]="5"></app-skeleton>
      <mat-card *ngFor="let item of list" class="cursor-pointer aim-tag">
        <p class="text-overflow-ellipsis">
          2231231231231ju312iu3b12b3i12b31b2i312b31i2b3b1i23bs
        </p>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
