<mat-card class="no-select recent-card">
  <mat-card-title fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <mat-icon>access_time</mat-icon>
    <span>最近的文章</span>
  </mat-card-title>
  <mat-card-content>
    <div
      class="recent-card__block"
      [@recentCardAnimation]="listTotal"
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <app-skeleton *ngIf="loading" height="50px" [count]="5"></app-skeleton>
      <mat-card *ngFor="let item of list" class="recent-card__block__item">
        <p class="title text-overflow-ellipsis">{{ item.title }}</p>
        <p class="text-overflow-ellipsis mat-card-subtitle">
          {{ item.createdAt }}
        </p>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
