.app-article {
  position: relative;
  &--loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &__title {
    text-align: center;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
}
