<mat-card class="app-article article-markdown">
  <mat-card-title *ngIf="articleTitle" class="app-article__title">
    <span [routerLink]="['/article', articleId]">{{ articleTitle }}</span>
  </mat-card-title>
  <mat-card-subtitle
    *ngIf="date"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
    class="app-article__subtitle"
  >
    <span fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center">
      <mat-icon>today</mat-icon>
      <span>{{ date }}</span>
    </span>
  </mat-card-subtitle>
  <mat-card-subtitle
    *ngIf="!isShrink"
    fxLayout="row"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
  >
    <app-chip
      *ngFor="let item of tagArr; trackBy: trackById"
      icon="tag"
      [routerLink]="['/tag', item.id]"
      >{{ item.name }}
    </app-chip>
    <app-chip *ngIf="classification" icon="class">{{
      classification.content
    }}</app-chip>
  </mat-card-subtitle>
  <mat-card-content class="app-article__content">
    <app-skeleton
      *ngIf="loading || outerLoading"
      [count]="1"
      width="300px"
    ></app-skeleton>
    <app-skeleton *ngIf="loading || outerLoading" [count]="25"></app-skeleton>
    <!-- 
    这里是两种类型的 渲染方式 
    1. src 远程链接渲染
    2. data 字符串
    -->
    <ng-container *ngIf="!outerLoading">
      <markdown
        *ngIf="src"
        #markdownSrc
        ngPreserveWhitespaces
        emoji
        [src]="src"
        (load)="onLoad(markdownSrc)"
        (error)="onError($event)"
      >
      </markdown>
      <markdown
        *ngIf="!src && markdownContent"
        #markdown
        ngPreserveWhitespaces
        emoji
        [data]="markdownContent"
      >
      </markdown>
    </ng-container>
  </mat-card-content>
  <mat-card-actions
    *ngIf="!isShrink"
    class="no-select"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <button mat-button (click)="changePage('previous')">
      <mat-icon class="rotate-180">double_arrow</mat-icon>
      上一篇
    </button>
    <button mat-button (click)="changePage('next')">
      下一篇
      <mat-icon>double_arrow</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-actions fxLayout="row" fxLayoutGap="10px" *ngIf="isShrink">
    <app-chip
      *ngFor="let item of tagArr; trackBy: trackById"
      icon="tag"
      [routerLink]="['/tag', item.id]"
      >{{ item.name }}
    </app-chip>
    <span fxFlex></span>
    <app-chip *ngIf="classification" icon="class">{{
      classification.content
    }}</app-chip>
  </mat-card-actions>
</mat-card>
