@use "@app/style" as app;

.app-article {
  position: relative;
  // border: 10px solid;
  // border-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%) 1;
  &--loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  &__subtitle,
  &__title,
  &__tag,
  &__class {
    user-select: none;
  }
  &__title {
    transition: all 0.3s;
    padding: 25px 0 15px 0;
    text-align: center;
    font-size: 30px;
    // cursor: pointer;

    &::before {
      content: "「";
      position: relative;
      top: -4px;
      left: 0px;
      font-size: 40px;
    }
    &::after {
      content: "」";
      position: relative;
      bottom: -4px;
      right: 0px;
      font-size: 40px;
    }
  }
  &__subtitle {
    text-align: center;
  }
  :host-context(.light-theme) {
    .app-article {
      &__title {
        &:hover {
          color: app.$light-accent;
        }
      }
      &__tag,
      &__class {
        background-color: app.$light-accent;
        color: #333;
      }
    }
  }
  :host-context(.dark-theme) {
    .app-article {
      &__title {
        &:hover {
          color: app.$dark-accent;
        }
      }
      &__tag,
      &__class {
        background-color: app.$dark-accent;
      }
    }
  }
  &__tag,
  &__class {
    // cursor: pointer;
    padding: 0 10px 0 4px;
    border-radius: 5px;
    color: #fff !important;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
}
