@use "@angular/material" as mat;
.app-markdown-emoji {
  user-select: none;
  &:hover {
    @include mat.elevation(8);
  }
  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    &__item {
      // cursor: pointer;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      // border: 1px solid skyblue;
      font-size: 20px;
    }
  }
}
