<!-- <div
  class="home-module"
  fxLayout="row"
  fxLayoutGap="20px"
  fxLayoutAlign="center start"
>
  <div fxFlex="17" fxFlex.xs="0" class="home-module__left">
    <app-user-card></app-user-card>
  </div>
  <div
    fxFlex="58"
    class="home-module__content"
    fxLayout="column"
    fxLayoutGap="20px"
    [@articleCardAnimation]="articleArr.length"
  >
    <app-markdown
      *ngFor="let item of articleArr; trackBy: trackById"
      [isShrink]="true"
      [content]="item.firstParagraph"
      [articleTitle]="item.title"
      [tagArr]="item.tag"
      [classification]="item.classification"
      [date]="item.updatedAt"
      [articleId]="item.articleId"
    ></app-markdown>
    <div #loading *ngIf="!isLast" fxLayout="row" fxLayoutAlign="center">
      <mat-spinner
        [diameter]="40"
        [strokeWidth]="5"
        color="accent"
      ></mat-spinner>
    </div>
    <div class="home-module__content__end" *ngIf="isShowEnd">
      啊咧咧··· 你已经到达世界的尽头了 w(ﾟДﾟ)w
    </div>
  </div>
  <div
    fxFlex="17"
    fxLayout="column"
    fxLayoutGap="20px"
    class="home-module__right"
  >
    <app-recent-card></app-recent-card>
    <app-tag-card></app-tag-card>
  </div>
</div> -->

<div
  class="home-module"
  fxLayout="column"
  fxLayoutGap="20px"
  [@articleCardAnimation]="articleArr.length"
>
  <app-markdown
    *ngFor="let item of articleArr; trackBy: trackById"
    [isShrink]="true"
    [content]="item.firstParagraph"
    [articleTitle]="item.title"
    [tagArr]="item.tag"
    [classification]="item.classification"
    [date]="item.updatedAt"
    [articleId]="item.articleId"
  ></app-markdown>
  <div #loading *ngIf="!isLast" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner [diameter]="40" [strokeWidth]="5" color="accent"></mat-spinner>
  </div>
  <div class="home-module__end" *ngIf="isShowEnd">
    啊咧咧··· 你已经到达世界的尽头了 w(ﾟДﾟ)w
  </div>
</div>
