<div
  class="home-module"
  fxLayout="column"
  fxLayoutGap="20px"
  [@articleCardAnimation]="articleArr.length"
>
  <app-markdown
    *ngFor="let item of articleArr; trackBy: trackById"
    [isShrink]="true"
    [content]="item.introduction??''"
    [articleTitle]="item.title"
    [tagArr]="item.tag"
    [classification]="item.classification"
    [date]="item.updatedAt"
    [articleId]="item.articleId"
  ></app-markdown>
  <div #loading *ngIf="!isLast" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner [diameter]="40" [strokeWidth]="5" color="accent"></mat-spinner>
  </div>
  <div class="home-module__end" *ngIf="isShowEnd">
    啊咧咧··· 你已经到达世界的尽头了 w(ﾟДﾟ)w
  </div>
</div>
