/*
 * @Descripttion: markdown 样式
 * @Author: KuuBee
 * @Date: 2020-12-15 10:51:40
 * @LastEditors: KuuBee
 * @LastEditTime: 2021-02-19 15:38:36
 */
@import "~@angular/material/theming";

@mixin markdown($is-dark, $primary, $accent, $warn) {
  // 变量部分
  $table-border: red !default;
  $h2-border: 1px solid #ffffff !default;
  @if $is-dark {
    $table-border: 2px
      solid
      map-get(
        $map: $mat-grey,
        $key: 500,
      );
    $h2-border: 1px solid #ffffff;
  } @else {
    $table-border: 2px
      solid
      map-get(
        $map: $mat-grey,
        $key: 400,
      );
    $h2-border: 1px solid #000000;
  }
  // 公共部分
  markdown {
    .del {
      text-decoration: line-through $accent wavy;
    }
    .image {
      text-align: center;
    }
    .hr {
      width: 100%;
      height: 1px;
      background-color: $accent;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }
  // 文章 markdown
  .article-markdown {
    markdown {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 100;
      }
      h1 {
        font-size: 28px;
        margin-bottom: 20px;
        &::after {
          content: "";
          display: block;
          position: relative;
          bottom: -10px;
          background-color: #eaecef;
          width: 100%;
          height: 1px;
        }
      }
      h2 {
        font-size: 25px;
        &::after {
          content: "";
          border-bottom: $h2-border;
        }
      }
      h3 {
        font-size: 22px;
      }
      h4 {
        font-size: 18px;
      }
      h5 {
        font-size: 15px;
      }
      h6 {
        font-size: 12px;
      }
      // 增加背景阴影
      img,
      blockquote,
      table,
      pre {
        @include mat-elevation(3, map-get($map: $mat-grey, $key: 700));
      }
      img {
        border-radius: 5px;
        max-width: 100%;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.02);
          @include mat-elevation(7, map-get($map: $mat-grey, $key: 800));
        }
      }
      blockquote {
        > p {
          margin-bottom: 0;
        }
        margin: 0 0 12px 0;
        padding: 1em;
        border-left: 5px solid $accent;
        background-color: rgba($color: #000000, $alpha: 0.1);
        // color: #ccc;
        border-radius: 5px;
      }
      table {
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 20px;
        width: 100%;
        border-spacing: 0;
        border-radius: 5px;
        background-color: rgba($color: #000000, $alpha: 0.08);
        thead {
          text-align: left;
          tr {
            > th {
              padding: 10px;
              background-color: rgba($color: #000000, $alpha: 0.11);
              border-bottom: $table-border;
              border-right: $table-border;
              &:last-child {
                border-right: none;
              }
              &:hover {
                transition: all 0.3s;
                background-color: rgba($color: #000000, $alpha: 0.2);
              }
            }
          }
        }
        tbody {
          tr {
            > td {
              padding: 10px;
              border-bottom: $table-border;
              border-right: $table-border;
              &:last-child {
                border-right: none;
              }
              &:hover {
                transition: all 0.3s;
                background-color: rgba($color: #000000, $alpha: 0.1);
              }
            }
            &:last-child {
              > td {
                border-bottom: none;
              }
            }
          }
        }
      }
      p {
        > code {
          margin: 0 2px;
          padding: 3px;
          border-radius: 5px;
          @if $is-dark {
            background-color: rgba($color: #000000, $alpha: 0.2);
            color: rgba($color: #ffffff, $alpha: 0.8);
          } @else {
            background-color: rgba($color: #000000, $alpha: 0.1);
            color: rgba($color: #000000, $alpha: 0.55);
          }
        }
      }
    }
  }
  // 评论 markdown
}
