@import "~@angular/material/theming";
@import "./animations.scss";

// @font-face {
//   font-family: "MaShanZheng-Regular";
//   src: url("https://autocode.icu/assets/fonts/MaShanZheng-Regular.ttf") format("TrueType");
// }
// // 默认全局的
// @font-face {
// NotoSerifSC-Light
//   font-family: "NotoSerifSC-Light";
//   src: url("https://autocode.icu/assets/fonts/NotoSerifSC-Light.otf") format("OpenType");
// }
// @font-face {
//   font-family: "ZCOOLQingKeHuangYou-Regular";
//   src: url("https://autocode.icu/assets/fonts/ZCOOLQingKeHuangYou-Regular.ttf") format("TrueType");
// }

// 全局样式
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.app {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.light-theme {
  a {
    color: map-get($map: $mat-green, $key: 600);
  }
}
.dark-theme {
  a {
    color: map-get($map: $mat-deep-orange, $key: A200);
  }
}
// 全局类名
.hidden-scroll-bar {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  margin-right: -17px;
}
.no-select {
  user-select: none;
}
.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
