<div class="app">
  <!-- 之后一些需要手动显示的顶级弹窗都应该在这一层显示 -->
  <app-search></app-search>
  <!-- 全局高斯模糊 -->
  <div [@bulrOpenClose]="isShowSearch?'open':'close'">
    <mat-toolbar class="app__toolbar" color="primary">
      <span>{{name}}的猫窝</span>
      <button mat-button routerLink="/">主页</button>
      <button mat-button>分类</button>
      <button mat-button>标签</button>
      <button mat-button>归档</button>
      <button mat-button>留言板</button>
      <button mat-button routerLink="/article">test</button>
      <span class="toolbar-spacer"></span>
      <button mat-button>友链</button>
      <button mat-button>关于</button>
      <button mat-icon-button (click)="changeTheme()">
        <mat-icon>{{isDark?'wb_sunny':'bedtime'}}</mat-icon>
      </button>
      <button mat-icon-button (click)="bugReport()">
        <mat-icon>bug_report</mat-icon>
      </button>
      <button mat-icon-button (click)="showSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar>

    <!-- <div>
      <button routerLink="/customers">Customers</button>
      <button routerLink="/orders">Orders</button>
      <button routerLink="/article">article</button>
      <button routerLink="">Home</button>
    </div> -->
    <div [@routeAnimations]="prepareRoute(outlet)" class="app__content">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>