@use "@app/style" as app;

:host-context(.light-theme) {
  .app-tag {
    background-color: app.$light-accent;
    color: #333;
  }
}
:host-context(.dark-theme) {
  .app-tag {
    background-color: app.$dark-accent;
  }
}

.app-tag {
  // cursor: pointer;
  padding: 0 10px 0 4px;
  border-radius: 5px;
  color: #fff !important;
}
