<div class="app-comment-content">
  <div class="app-comment-content__avatar" [ngStyle]="avatarStyle">
    <!-- <img [src]="avatar" alt="我裂开了" /> -->
  </div>
  <div class="app-comment-content__content">
    <div class="app-comment-content__content__user-info">
      {{ data?.name + (data?.level === 200 ? "(博主)" : "") }}
    </div>
    <div class="app-comment-content__content__message">
      <markdown emoji ngPreserveWhitespaces>
        {{ data?.content }}
      </markdown>
    </div>
    <div
      class="app-comment-content__content__action"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div class="action-left">
        <span class="date" fxHide.xs>
          {{ data?.createdAt | date: "yyyy-MM-dd HH:mm" }}
        </span>
        <span class="comment" (click)="showComment = !showComment">回复</span>
      </div>
      <div class="action-right">
        <span class="from">
          <!-- {{ browserInfoText }} -->
          {{ data?.browser }}/{{ data?.os }}
        </span>
      </div>
    </div>
    <app-comment-input
      *ngIf="showComment"
      placeholder="要回复什么呢"
      type="reply"
      [replyType]="replyType"
      [articleId]="articleId"
      [commentId]="commentId"
      [replyId]="replyId"
      [isShowTips]="true"
    ></app-comment-input>
    <ng-container *ngFor="let item of comment?.reply; trackBy: trackByItem">
      <mat-divider *ngIf="recursion" [inset]="true"></mat-divider>
      <app-comment-content
        *ngIf="recursion"
        type="reply"
        [recursion]="false"
        [reply]="item"
        [articleId]="articleId"
      ></app-comment-content>
    </ng-container>
  </div>
</div>
